# Creating dataset using Pandas
#### Uptil now we worked on provided dataset, we can create our own dataset too

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'ID':['1','2','3'],'Name':['Anmol','Harsh','Nikhil'],'DOB':['12-06-2001','03-03-2000','12-12-2003']})
df

  ID    Name         DOB
0  1   Anmol  12-06-2001
1  2   Harsh  03-03-2000
2  3  Nikhil  12-12-2003

## Changing data types from object to required data types

In [3]:
df.dtypes   # original data types

ID      object
Name    object
DOB     object
dtype: object

### We need ID as numeric and DOB as datetime datatypes respectively
### (Name as object is fine)

In [5]:
df['ID']=pd.to_numeric(df['ID'])      # for ID
df['DOB']=pd.to_datetime(df['DOB'])   # for DOB
df.dtypes

ID               int64
Name            object
DOB     datetime64[ns]
dtype: object